NET "P[3]" LOC = "E4";
NET "P[2]" LOC = "T5";
NET "P[1]" LOC = "R5";
NET "P[0]" LOC = "P12";

NET "M[3]" LOC = "P15";
NET "M[2]" LOC = "C14";
NET "M[1]" LOC = "D14";
NET "M[0]" LOC = "A10";



NET "op[6]" LOC = "P16";
NET "op[5]" LOC = "D4";
NET "op[4]" LOC = "M13";
NET "op[3]" LOC = "L14";
NET "op[2]" LOC = "N14";
NET "op[1]" LOC = "M14";
NET "op[0]" LOC = "U18";